<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Привет, {{ user.name }}!</h3>
    </div>
    <div class="panel-body">
        У вас на счету {{ user.balance }}$
    </div>
</div>